* {
    box-sizing: border-box;
}

:root{
    --headlinecolor: rgb(136, 102, 136);
    --headlinetext:  blanchedalmond;
    --textcolor: white;
}

header{
    background-color: purple;
    color: var(--headlinetext);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
}

h1{
    font-style: italic;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a{
    color: var(--textcolor);
    padding: 5px 10px;
}

nav a:last-child{
    padding-right: 10px;
}

nav a:hover{
    cursor: grab;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: var(--textcolor);
}

.hero{
    padding: 5% 10%;
    justify-content: center;
    align-items: flex-end;
    text-align: center; 
    background-image: url(../images/IMG_9771.jpeg);
    background-size: cover;
    background-position: center;

}

.page-info{
    margin-left: auto;
    margin-right: auto;
}

.headline{
    background-color: var(--headlinecolor);
    color: var(--headlinetext);
    font-style: oblique;
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.page-work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    margin: 0;
    padding: 10px;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
}

#image-div{
    display: flex;
    flex-wrap: wrap;
}

.project{
    display: flex;
    max-height: 50%;
    align-items: center;
    border: 5px solid var(--textcolor);
    margin: 10px;
    color: var(--textcolor);
}

.project:nth-child(1){
    flex: 1 0 90%;
}
.project:nth-child(n+2){
    flex: 1 0 45%;
}

.project h3{
    text-align: center;
    background-color: var(--headlinecolor);
    padding: 25px;
    margin: 0;
}

address div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

address div a{
    color: var(--textcolor);
}

.image-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    display: block;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .image-section {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .image-section {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .image-section {
        width: 100%;     
  }
}